<body>
  <div class="container">
    <!--背景の薄い白色-->
    <div class="saito">
      <!--戻るボタン-->
      <%= link_to :back do %>
        <h2><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span></h2>
      <% end %>
      <h3>投稿編集</h3>

      <div class="row">
        <div class="col-xs-3">
          <div class="profile-image">
            <table class="table">
              <tbody>
                <tr>
                  <p><%= @user.name %></p>
                  <!--クリックすると画像を拡大-->
                  <a href="" data-lightbox="group" id="lightbox_link">
                    <div class="img_wrap">
                      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size:'100x100', id:"lightbox_img" %>
                    </div>
                  </a></br>
                  <!--クリックすると画像を拡大-->
                  <script>
                  var img_src = $('#lightbox_img').attr('src');
                  $('#lightbox_link').attr('href',img_src);
                  </script>
                  <td>・<%= @user.introduction %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-xs-8">
          <%= form_with model: @post, local: true do |f| %>
            <div class="form-group">
              <%= f.select :category, [["質問", "質問"], ["投稿", "投稿"]], include_blank: "カテゴリを選択して下さい" %>
            </div>
            <div class="form-group">
              <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_area :body, size: "100x12", placeholder: "内容をここに記入する", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :tag_name,value: @tag_list, placeholder: "タグを追加", class: "form-control" %>
            </div>
            <h4>画像投稿フォーム</h4>
              <%= f.attachment_field :post_image %>
            <h4></h4>
              <%= f.submit '編集する', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>