<body>
  <div class="container">
    <h3>投稿詳細</h3>
    <div class="row">
      <div class="col-xs-3">
        <div class="profile">
          <table class="table">
            <tbody>
              <tr>
                    <%= link_to @user.name, user_posts_path(@user) %>
                    <%= attachment_image_tag(@user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size:'100x100') %>
                <td><%= @user.introduction %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-9">
        <h3>カテゴリ</h3>
          <h4><%= @post.category %></h4>
        <h3>タイトル</h3>
          <h4><%= @post.title %></h4>
        <h3>本文</h3>
          <h4><%=safe_join(@post.body.split("\n"),tag(:br))%></h4>
          <%= attachment_image_tag(@post, :post_image, size: "300x300") %>

          <% @post_tags.each do |tag|%>
            <h5>タグから検索：<%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id)%>
                <%= tag.posts.count %></h5>
          <% end %>

          <% if @post.user == current_user %>
            <%= link_to "編集する", edit_post_path(@post) %>
            <%= link_to "削除する", post_path(@post), method: :delete, data: {confirm: "削除してよろしいですか？"} %>
          <% end %>

          <% if user_signed_in? %>
          <td class="favorite_post_<%= @post.id %>">
            <%= render 'users/favorites/favorites', post: @post %>
          <% end %>
          </td>
      </div>
    </div>

    <div class="row">
      <table class="content_post_<%= @post.id %>">
        <%= render 'users/post_comments/post_comments', post: @post %>
      </table>
    </div>

    <%= form_with(model:[@post, @post_comment]) do |f| %>
			<div class="row">
				<div class="col-sm-12">
					<%= f.text_area :content, rows:'5', class: "form-control comment_form",placeholder: "コメントをここに記入する" %>
				</div>
 			 </div>
			<%= f.submit "コメントする", class: 'btn btn-default btn-sm' %>
		<% end %>
  </div>
</body>