<body>
  <div class="container">
    <h3>ユーザー編集</h3>
    <div class="row">
      <div class="col-xs-3">
         <div class="profile">
           <table class="table">
          	<tr>
          	  <%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size: "100x100" %>
          	</tr>

          	<%= form_with model: @user do |f| %>
              <div class="field">
            		<%= f.attachment_field :profile_image, class: "user_image" %>
            	</div>

            	<div class="field">
            		<%= f.text_field :name, class: "name",placeholder: "名前" %>
            	</div>

            	<div class="field">
            		<%= f.text_area :introduction, class: "introduction",placeholder: "紹介文" %>
            	</div>

            	<div class="actions">
            		<%= f.submit "プロフィールを変更する" %>
            	</div>
            <% end %>
          </table>
         </div>
      </div>
    </div>
  </div>
</body>