<body>
  <div class="container">
    <div class="saito">
      <div class="img_wrap">
        <%= link_to :back do %>
          <h2><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span></h2>
        <% end %>
      </div>
      <h3>ユーザー編集</h3>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-3">
           <div class="profile">
             <table class="table">
            	<tr>
            	  <a href="" data-lightbox="group" id="lightbox_link">
              	  <div class="img_wrap">
              	    <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size: "150x150", id:"lightbox_img" %>
              	  </div>
            	  </a></br>
                <script>
                var img_src = $('#lightbox_img').attr('src');
                $('#lightbox_link').attr('href',img_src);
                </script>
            	</tr>
  　　　　　　<tr>
            	<%= form_with model: @user do |f| %>
                <div class="form-group">
              		<%= f.attachment_field :profile_image %>
              	</div>

              	<div class="form-group">
              		<%= f.text_field :name, class: "name",placeholder: "名前", class: "form-control" %>
              	</div>

              	<div class="form-group">
              		<%= f.text_area :introduction, size: "100x10", class: "introduction",placeholder: "紹介文", class: "form-control" %>
              	</div>

              	<div class="actions">
              		<%= f.submit "変更する", class: "btn btn-success" %>
              	</div>
              <% end %>
              </tr>
            </table>
           </div>
        </div>
      </div>
    </div>
  </div>
</body>