<body>
  <div class="container">
    <div class="saito">
      <h3>ユーザーマイページ</h3>
      <div class="row">
        <div class="col-xs-3">
           <div class="profile">
             <table class="table">
                	<tr>
                	  <a href="" data-lightbox="group" id="lightbox_link">
                  	  <%= link_to user_posts_path(@user) do %>
                  	    <div class="img_wrap">
                          <p><%= @user.name %></p>
                  	      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size: "100x100", id:"lightbox_img" %>
                  	    </div>
                  	  <% end %>
                  	</a></br>
                      <script>
                      var img_src = $('#lightbox_img').attr('src');
                      $('#lightbox_link').attr('href',img_src);
                      </script>
                	</tr>

                	<tr>
                		<th>
                		  名前:<%= @user.name %>
                		</th>
                	</tr>

                	<tr>
                		<th>
                		  紹介文:<%= @user.introduction %>
                		</th>
                	</tr>

                  <tr>
              		  <th>
              		    <div class="img_wrap">
              		      <%= link_to "プロフィールを編集する", edit_user_path(@user), data: {"turbolinks" => false} %>
              		    </div>
              		  </th>
                	</tr>

                	<tr>
                	  <th>
              		    <div class="img_wrap">
              		      <%= link_to "退会させる", confirm_unsubscribe_path(@user) %>
              		    </div>
              		  </th>
                	</tr>
            </table>
           </div>
        </div>

        <div class="col-xs-8">
          <%= form_with model: @post_new, local: true do |f| %>
            <div class="form-group">
              <%= f.select :category, [["質問", "質問"], ["投稿", "投稿"]], include_blank: "カテゴリを選択して下さい" %>
            </div>
            <div class="form-group">
              <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_area :body, size: "100x12", placeholder: "内容をここに記入する", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :tag_name, placeholder: "タグを追加", class: "form-control" %>
            </div>
            <h4>画像投稿フォーム</h4>
              <%= f.attachment_field :post_image %>
            <h4></h4>
              <%= f.submit '投稿する', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>