<body>
  <div class="container">
    <div class="saito">
      <h3>会員一覧</h3>
      <div class="row">
        <div class="col-xs-12">
          <div class="profile">
            <table class="table table-hover table-inverse">
            	<tbody>
            		<% @users.each do |user| %>
            		<tr>
            			<td>
            			  <%= link_to user_path(user) do %>
              			  <div class="img_wrap">
              			    <p><%= user.name %></p>
              			    <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size:'80x80' %>
              			  </div>
                    <% end %>
            			</td>

      					   <td>
      					     <postddate>
      					       最終投稿日:<%= user.posts.order(:updated_at).last.updated_at.strftime("%Y-%m-%d") if user.posts.count > 0 %>
      					     </postddate>
      					   </td>

      					   <td>
        					   <% if user.is_valid == TRUE %>
      				         <p class=""><ol><%= '有効会員' %></ol></p>
      			         <% else %>
      				         <p class="taikailabel"><%= '退会済み' %></p>
      				         <%= link_to "削除する", admins_customer_path(user), method: :delete, data: {confirm: "退会済みのユーザーを削除しますか？"}, class: "btn btn-danger" %>
      			         <% end %>
                   </td>
            		</tr>
            		<% end %>
            	</tbody>
            </table>
            <div class="text-center">
              <h4><%= paginate @users %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>