<body>
  <div class="container">
    <h3>検索結果</h3>
    <div class="row">
  		<div class="col-xs-9">
        <table class="table">
          <% if @posts %>
    				<% @posts.each do |post| %>
    				<tr>
    				  <td>
    				        <%= post.user.name %>
                    <%= attachment_image_tag post.user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size: "80x80" %>
    					</td>

    					<td>
    					    <%= post.updated_at.strftime("%Y-%m-%d") %>
                  <%= link_to post_path(post), class: "post_#{post.id}" do %>
                  <h4><%= post.title %></h4>
                  <% end %>
              </td>
            </tr>
    				<% end %>
  				<% end %>
  		  </table>
  		</div>

  		<div class="col-xs-3">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field :search %>
              <%= f.submit '検索', :name => nil %>
            <% end %>
      </div>
    </div>
  </div>
</body>