<body>
  <div class="container">
    <h3>検索結果</h3>
    <%= render 'users/searchs/form' %>
    <div class="row">
  		<div class="col-xs-12">
        <table class="table">
          <% if @posts %>
    				<% @posts.each do |post| %>
    				<tr>
    				  <td>
    				    <%= post.user.name %>
                <%= attachment_image_tag post.user, :profile_image, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb", size: "80x80" %>
    					</td>

    					<td>
					      </br>
					      <h4><%= post.category %></h4>
					    </td>

    					<td>
    					  投稿日:<%= post.updated_at.strftime("%Y-%m-%d") %>
                <%= link_to post_path(post), class: "post_#{post.id}" do %>
                <h4><%= post.title %></h4>
                <% end %>
              </td>
            </tr>
    				<% end %>
  				<% end %>
  		  </table>
  		</div>
    </div>
  </div>
</body>